
.bgimg{
  -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .9s ease-in-out;
        overflow: hidden;
}


.bgimg:hover {
      -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
